<app-bordered-page>
    <div id="title">
        <span>About me</span>
    </div>

    <div id="summary">
        <p id="hello">Hello there.</p>
        <p>My name is Alec Dusheck, and I'm a developer and student at <a href="https://www.edenpr.org/">Eden Prairie
            High School</a>.</p>
        <p>I work on several projects including Simply Servers, a video game server hosting platform and a support
            solution for organizations called MailFlow. I'm also on <a href="https://team2502.com">Talon Robotics</a>, a
            FRC robotics team.</p>
        <br>
        <p>I'm currently a junior in high school. If you need to contact me for whatever reason, shoot me an email.</p>
        <br>
        <p>My favorite programming language is Typescript, which is a superset of Javascript. I also enjoy writing
            software in Java and PHP.</p>
    </div>
</app-bordered-page>
