<app-bordered-page>
    <div id="title">
        <span>About me</span>
    </div>

    <div id="summary">
        <p id="hello">Hello there.</p>
        <p>My name is Alec Dusheck, and I'm a developer and student at <a href="https://www.edenpr.org/">Eden Prairie
            High School</a>.</p>
        <p>I want to use computer science and business to make the world a better place.
            I work at a non-profit named Connect To Care to help connect student volunteers to organizers that need them the most.
            While working there, I've managed several projects and have been deeply involved in application design and development.</p>
        <br>
        <p>In addition, I've worked on several personal projects including <a href="https://github.com/SimplyServers">Simply Servers</a>, a full-on server management platform.</p>
        <br>
        <p>I'm currently a junior in high school. If you need to contact me for whatever reason, shoot me an email.</p>
        <br>
        <p>My favorite programming language is Typescript, which is a superset of Javascript. I also have large amounts of experience with
            writing in Java and PHP.</p>
    </div>
</app-bordered-page>
