<app-bordered-page>
    <div id="home">
        <div class="card">
            <img src="/assets/me.png">
            <div class="card-details">
                <h1>Alec Dusheck</h1>
                <h2>Software Developer @ ExperienceIT, Non-Profit Co-Founder, Student</h2>
            </div>
            <div class="card-icons">
                <a href="https://twitter.com/simplyalec" target="_blank"><fa-icon [icon]="twitter"></fa-icon></a>
                <a href="https://www.linkedin.com/in/alecdusheck/" target="_blank"><fa-icon [icon]="linkedIn"></fa-icon></a>
            </div>
        </div>
        <div class="section">
            <h2>Overview</h2>
            <div class="section-details">
                <p>My name is Alec Dusheck, and I'm a developer at <a href="https://eitmn.com">ExperienceIT</a>.</p>
                <p>
                    I want to use computer science and business to make the world a better place.
                    I co-founded a non-profit named Connect To Care to raise awareness of youth homelessness.
                    We run various programs to help our local Minneapolis homeless community.
                    While working there, I've managed several projects, including our end-to-end <a
                            href="https://volunteer.connect-tocare.org">volunteer platform</a>. and have been deeply
                    involved in application design and
                    development.
                    To learn more about Connect To Care, visit our <a href="https://connect-tocare.org">website</a>.
                </p>
            </div>
        </div>
        <div class="section">
            <h2>Personal Projects</h2>
            <div class="section-details">
                <p>
                    I've worked on several personal projects including <a href="https://github.com/SimplyServers">Simply Servers</a>,
                    a full-on server management platform. This project included a horizontally scalable management engine, which is powered by Docker.
                    It also included a full-fledged API and an Angular front-end. While never deployed, this project was fully functional and completed.
                </p>
            </div>
        </div>
        <div class="section">
            <h2>Current Work</h2>
            <div class="section-details">
                <p>
                    I'm currently a software developer at an Excelsior, Minnesota based company named ExperienceIT. This job has given me amounts of real-world experience.
                    I've been given the opportunity to work with small businesses to Fortune 100 companies. I have a passion for bridging the gap between management and development.
                </p>
            </div>
        </div>
        <div class="section">
            <h2>Education</h2>
            <div class="section-details">
                <p>
                    I attend <a href="https://www.edenpr.org">Eden Prairie High School</a>, where I'm a junior.
                    I have passions in Mathematics and Political Science. I've always challenged myself by pushing myself with a broad range of AP classes and honors classes.
                    While attending, I founded a club to better engage computer savvy students with their community. Our programs range from senior tech support to assisting our school IT department with tasks.
                </p>
                <br>
                <p>
                    For more information on my club, click <a href="https://ephs.club">here</a>.
                </p>
            </div>
        </div>
        <div class="section">
            <h2>My areas of experience</h2>
            <div class="section-details">
                <p>I'm a full-stack developer. My favorite programming language is Typescript, but I also enjoy working with Java and PHP.</p>
                <br>
                <p>The company I work for is fully Agile. I'm familiar with working in an Agile environment.</p>
                <br>
                <p>I've developed projects using the following technologies: </p>
                <ul>
                    <li>Typescript</li>
                    <li>Javascript</li>
                    <li>jQuery</li>
                    <li>PHP</li>
                    <li>Angular / Vue</li>
                    <li>MongoDB and MySQL (PostgreSQL)</li>
                    <li>C#</li>
                    <li>Java and Spring</li>
                    <li>Rest APIs and Graph</li>
                </ul>
            </div>
        </div>
    </div>
</app-bordered-page>
